body {
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000
}

.button {
    background-color: #e6a563;
    padding: 8px;
    border-radius: 10px;
}

.hero {
    background-color: #ffcf83;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero-text {
    width: 500px;
}


nav {
    text-decoration: none;
    padding: 10px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    list-style: none;
}

nav img {
    width: 250px;
}


.nav li:first-child {
    margin-right: auto;
}

.feature-section {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.features {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.feature-block {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.feature-block h3 {
    margin-bottom: 0;
}

.testimonial-section {
    text-align: center;
    background-color: #222e50;
    padding: 20px;
}

.testimonial-section h2 {
    color: white;
}

.testimonials {
    display: flex;
    gap: 20px;
    align-items: stretch;
    margin-bottom: 20px;
}

.testimonial-block {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.name {
    font-weight: bold;
}

.team-section {
    text-align: center;
    padding: 20px;
}

.members {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.team-bio {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-bio img {
    width: 100px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: rgb(195, 195, 195);
    padding: 20px;
}

footer img {
    width: 50px;
}